.quickActions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(16, 185, 129, 0.5 ) 0%, rgba(111, 232, 220, 0.9) 100%);
    padding: 15px;
}
