.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body{
  background-color: #3a4333;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  display: flex;
}

.help__menu {
  width: 35%;
  padding: 30px;
  border-right: 3px solid black;
}

.technologies__menu {
  width: 100%;
}

.btn{
  --backgcolor: white;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: var(--backgcolor);
  &:hover{
    --backgcolor: grey
  }
  &:active{
    --backgcolor: white
  }
}

.filter__buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  border-radius: 5px;
  background: linear-gradient(135deg, rgba(16, 185, 129, 0.5 ) 0%, rgba(111, 232, 220, 0.9) 100%);
  padding: 15px;
  margin: 10px 0;
}

ul {
  list-style: none;
}