.progressHeader{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(16, 185, 129, 0.5 ) 0%, rgba(111, 232, 220, 0.9) 100%);
    padding: 20px;
    align-items: center;
}


.progress-bar {
    width: 100%;
}